<!DOCTYPE >
<html>
<head>
    <meta charset="utf-8">
    <title>UserRegister</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="css/Jingle.css">
    <link rel="stylesheet" href="css/app.css">    
</head>
<body>
<div id="aside_container">
</div>

<form name ="regiform" id = "form1"  method="post" action="regicheck">
<div id="section_container">
    <section id="form_section" class="active" >
    <header>
        <h1 class="title">Register</h1>
    </header>
    <footer>      
        <a  href="/login"  data-icon="list" >用户登录</a>
    </footer>
    <article data-scroll="true" class="active" id="form_article" >
        <div class="indented">
            <!-- Input group with labels-->

                <div class="input-row">
                    <label>姓名</label>
                    <input id="username_form"  name = "uname" type="text" placeholder="用户姓名">
                </div>
                <div class="input-row">
                    <label>工号</label>
                    <input id = "user_zid_form" name = "uzid" type="text" placeholder="八位工号">
                </div>
                <!--
                <div class="input-row">
                    <label>设定密码</label>
                    <input id="userpwd_form"  name = "usrpwd" type="password" placeholder="至少六位">
                </div>
                <div class="input-row">
                    <label>确认密码</label>
                    <input id="userpwd_form2"  name = "usrpwd2" type="password" placeholder="重新输入密码">
                </div>
                -->
                <div class="input-row">
                    <label>邀请码</label>
                    <input id="user_percode_form" name = "percode" type="text" >
                </div>
                <select name = "uzdept">
  				<option value="1" selected>位置:  波分武汉开发部</option>
				</select>
               <input type = "hidden"  id = "weixinid" name = "weixinid" value="" >
                
                <script>
					function GetQueryString(name)
					{
						 var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
						 var r = window.location.search.substr(1).match(reg);
						 if(r!=null)return  unescape(r[2]); return null;
					}
					alert("aaa" + GetQueryString("weixinId"));
					document.getElementById("weixinid").value = GetQueryString("weixinId") ;
    			</script>
                <a class="button block" data-icon="cogs"  href=		 
                "javascript:void(0)" onClick=
                "document.getElementById('form1').submit()">提交</a>
           
        	</div>
    	</article>

    </section>
 </div>
 
</form>
<!--<script type="text/javascript" src="js/lib/cordova.js"></script>-->
<!-- lib -->
<script type="text/javascript" src="js/lib/zepto.js"></script>
<script type="text/javascript" src="js/lib/iscroll.js"></script>
<script type="text/javascript" src="js/lib/template.min.js"></script>
<script type="text/javascript" src="js/lib/Jingle.debug.js"></script>
<script type="text/javascript" src="js/lib/zepto.touch2mouse.js"></script>
<script type="text/javascript" src="js/lib/JChart.debug.js"></script>
<script type="text/javascript" src="js/app/app.js"></script>

</body>
</html>